.experience-card {
  background: #E0E0E0;
  padding: 20px 40px;
  border-radius: 10px;
  margin: 10px 0;
}

.experience-card h5 {
  font-weight: bold;
  margin: 0;
}

.experience-title {
  font-style: italic;
}

.card-heading {
  font-size: 18px;
}

.card-info {
  font-size: 12px;
}
