.image {
  object-fit: cover;
  width: 15vw;
  height: 35vh;
  border-radius: 7%;
  cursor: pointer;
  transition: 0.3s;
}

.image-title {
  display: none;
  position: absolute;
  bottom: 1px;
  left: 13%;
  color: white;
  font-size: 16px;
}

.image-con:hover {
  opacity: 0.7;
}

.image-con:hover .image-title {
  display: block;
}

.image-container {
  width: 87%;
  // margin-right: 5%;
}


@media screen and (max-width: 575px) {

  .image {
    // display: block;
    object-fit: cover;
    width: 76%;
    height: 205px;
    border-radius: 10%;
    // cursor: pointer;
    // transition: 0.3s;
  }

  .image-container {
    width: 87%;
    text-align: center;
    // margin-right: 5%;
  }

}
