// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "card";
@import "logo";
@import "navbar";
@import "paragraph";
@import "profile_picture";
@import "image";
@import "modal";
@import "image_text";

.go-home {
  position: fixed;
  top: 25px;
  left: 30px;
}

.form-control {
  margin-bottom: 10%;
}

@media screen and (max-width: 575px) {

  .go-home {
  position: static;
  margin-top: 5%;
  text: center;
  // top: 25px;
  // left: 30px;
}

}
