.profile-picture {
  width: 200px;
  height: 185px;
  object-fit: cover;
}

.flex-container {
  display: flex;
  margin: 0 5% 0 5%;
  // flex-wrap: wrap;
}

.profile-info {
  position: sticky;
  flex-grow: 1;
  top: 0;
  height: 100vh;
  width: 33vw;
  // background-color: #ff6363;
  background-color: rgba(0,0,0,0.1);
}

.links {
  font-size: 35px;
  margin-right: 5%;
  opacity: 0.8;
  color: black;
  text-decoration: none;
}

.heading {
  opacity: 0.8;
  font-weight: bold;
}

.sub_heading {
  opacity: 0.7;
  margin-bottom: 3%;
}

.small-p {
  font-size: 14px;
}

.form-inline {
  display: inline-block;
}

@media screen and (max-width: 575px) {
  // .main-container {
  //   display: block;
  // }

  .flex-container {
  display: flex;
  flex-wrap: wrap;
  }
  .profile-info {
  position: static;
  // display: block;
  // flex-grow: 1;
  // top: 0;
  // height: 100vh;
  // width: 33vw;
  // background-color: #ff6363;
  background-color: rgba(0,0,0,0.1);
  }
}
