<div class="d-flex">
  <div class="text-center px-4 pt-4 flex-grow-1 profile-info">
    <!-- <h2>Portfolio for Jimmy</h2> -->
    <div class="mb-4">
      <img src="http://nebula.wsimg.com/e974ce0da59fe2687f4b3ad5bd2752fb?AccessKeyId=7CF5232BAEE59A11F643&disposition=0&alloworigin=1" alt="" class="profile-picture">
    </div>
    <h2 class="heading">Jimmy Cortes</h3>
    <h4 class="sub_heading" >Make up artist</h4>
    <hr class="bg-black">
    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dicta laboriosam, cum, ullam aliquid praesentium mollitia.
    </p>
    <hr>
    <div class="mb-4 btn btn-success btn-block">Email</div>
    <div class="">
      <a href="#" class="links" ><i class="fab fa-facebook" ></i></a>
      <a href="#" class="links"><i class="fab fa-instagram" ></i></a>
      <a href="#" class="links"><i class="fab fa-snapchat "></i></a>
    </div>
  </div>
  <div class="container flex-item mt-4">
    <div class="row">
      <% @images.each do |image| %>
        <div class="col-3 mb-2">
          <div class="mb-1" style="width: 20vw;" >
          <!-- <div class="" data-toggle="modal" data-target="#exampleModal"> -->
            <%= image_tag image.photo, class: "image" %>
          </div>
          <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%#= image_tag image.photo, style: "object-fit: cover; height: 17vw;", class: "" %>
                </div>

              </div>
            </div>
          </div> -->
        </div>
      <% end %>
    </div>
  </div>
</div>
