<h1>images</h1>
<div class="container">
  <div class="row">
    <% @images.each do |image| %>
      <div class="col-3 mb-2">
        <div class="card" data-toggle="modal" data-target="#exampleModal">
          <%= image_tag image.photo, style: "object-fit: cover; height: 17vw;", class: "card-img-top" %>
          <h4 class="p-2">title</h4>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= image_tag image.photo, style: "object-fit: cover; height: 17vw;" %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

